body {
  font-family: Helvetica;
  background: #f4acb1;
}

h1 {
  font-size: 4rem;
  color: white;
  text-align: center;
}

p {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin-top: 4rem;
}
